<%= form_with(model: classement) do |form| %>
  <% if classement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(classement.errors.count, "error") %> prohibited this classement from being saved:</h2>

      <ul>
        <% classement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
