<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>
  <br/>
  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

    <p>
    <strong>Nom:</strong>
    <%= user.nom %>
  </p>
  <br/>
   

</div>

