<h1>Editing pariquart</h1>

<%= render "form", pariquart: @pariquart %>

<br>

<div>
  <%= link_to "Show this pariquart", @pariquart %> |
  <%= link_to "Back to pariquarts", pariquarts_path %>
</div>
