/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */


 /* format des champs : */

 .green {
    color: green;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}

.darkred {
    color: rgb(107, 9, 9);
    font-weight: bold;
}

.blue {
    color: rgb(12, 12, 155);
    font-weight: bold;
}

 /* format des image ecurie avec nom pilote au dessus : */

.contenant {
  position: relative;
  text-align: left;
  color: white;
 /* min-width: 100px;*/
}

.texte_centrer {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(0%, -50%);
  font-weight: bold;
  font-size: medium;
}


@font-face {
  font-family: 'F1regular';
  src: url('Formula1-Regular_web_0.ttf');
}

body {
  font-family: "F1regular";
}

/* animation js home : */

textarea {
  height: 60%;
  width: 100%;
  min-width: 80%;
  display: block;
  border: 0px solid #BBB;
  color: #444;
  font-size: medium;
}

